body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#wallet_info, #user_exchange{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;    
    float: left;
    text-align: left;
    padding-left: 20px;
}


#orders {
    width: 1040px;
    height: 500px;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    float: left;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;    
}


table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr:first-child {
    font-weight: bold;
}

table tr:not(:first-child) {
    font-weight: normal;
}


th, td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}


.scrollit {
    overflow:scroll;
    height:240px;
}
