[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
ethereum = "==2.3.0"
"web3" = "==4.3.0"
werkzeug = "==0.13"
json-rpc = "==1.10.8"
click = "==6.7"
"flake8" = "==3.5.0"
rlp = "==0.6.0"
py-solc = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true

[scripts]
install_child_chain_operator="/usr/bin/python3 ~/plasma-dex/plasma/cli/cli.py submitbock D57C71EFC6B1E916350469B19FC59589FE5ADA98FB088EA5B300C8CF0BB645CD"